<%- include('../header.ejs') %>


<section class="login-wrap mtb-40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="login-box">
                    <h1>ADD STUDENT</h1>
                    <form action="/curd/update/<%= data._id%>" method="post">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Name" value="<%= data.name %>">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Email" value="<%= data.email %>">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">UPDATE</button>
                        </div>
                    </form>
                </div>         
            </div>
        </div>
    </div>
</section>

<%- include('../footer.ejs') %>