<%- include('../../header.ejs') %>

<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                        <div class="position-sticky">
                            <div class="list-group list-group-flush mx-3 mt-4">
                                <a href="/admin/nishant/dashboard" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                                    <i class="fas fa-tachometer-alt fa-fw me-3" style="color: blue;"></i><span class="text-danger">DASHBOARD</span>
                                </a>
                                <a href="/admin/createblog" class="list-group-item list-group-item-action py-2 ripple active">
                                    <i class="fa-sharp fa-solid fa-pen-to-square" style="color: greenyellow;"></i><span style="padding-left: 20px;">CREATE BLOGS</span>
                                </a>
                                <a href="/admin/displayblog" class="list-group-item list-group-item-action py-2 ripple active">
                                    <i class="fa-solid fa-eye" style="color: yellow;"></i><span style="padding-left: 20px;">DISPLAY BLOGS</span>
                                </a>
                                <a href="/admin/createcategory" class="list-group-item list-group-item-action py-2 ripple active">
                                    <i class="fa-sharp fa-solid fa-pen-to-square" style="color: greenyellow;"></i><span style="padding-left: 20px;">CREATE CATEGORY</span>
                                </a>
                                <a href="/admin/categorydisplay" class="list-group-item list-group-item-action py-2 ripple active">
                                    <i class="fa-solid fa-eye" style="color: yellow;"></i><span style="padding-left: 20px;">DISPLAY CATEGORY</span>
                                </a>
                                <a href="/curd/create" class="list-group-item list-group-item-action py-2 ripple active">
                                    <i class="fa-sharp fa-solid fa-pen-to-square" style="color: greenyellow;"></i><span style="padding-left: 20px;">CREATE CURD</span>
                                </a>
                                <a href="/curd/display" class="list-group-item list-group-item-action py-2 ripple active">
                                    <i class="fa-solid fa-eye" style="color: yellow;"></i><span style="padding-left: 20px;">DISPLAY CURD</span>
                                </a>
                                <a href="/admin/contactdisplay" class="list-group-item list-group-item-action py-2 ripple active">
                                    <i class="fa-solid fa-eye" style="color: yellow;"></i><span style="padding-left: 20px;">DISPLAY CONTACTS</span>
                                </a>
                                <a href="/logout" class="list-group-item list-group-item-action py-2 ripple active">
                                    <i class="fa-sharp fa-solid fa-right-from-bracket"></i><span style="padding-left: 20px;">LOGOUT</span>
                                </a>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header">
                            <div class="dash-title">
                                <h1 class="text-center text-primary">VIEW CONTACT</h1>
                            </div>
                        </div>
                        <table class="styled-table">
                            <thead>
                                <tr>
                                    <th>S.NO</th>
                                    <th>NAME</th>
                                    <th>EMAIL</th>
                                    <th>PHONE</th>
                                    <th>MESSAGE</th>        
                                </tr>
                            </thead>
                            <tbody>
                                <% var i=1 %>
                                    <tr>
                                        <td><%= i++ %></td>
                                        <td><%= data.name %></td>
                                        <td><%= data.email %></td>
                                        <td><%= data.phone %></td>
                                        <td><%= data.message %></td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../../footer.ejs') %>